<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated InstrumentationModel -->
      <package
            uri="http://www.dmodel.com/InstrumentationMetamodel"
            class="tools.cipm.models.instrumentation.InstrumentationModel.InstrumentationModelPackage"
            genModel="src/main/resources/metamodel/InstrumentationModel.genmodel"/>
   </extension>

</plugin>
